.textBox {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.container {
    display: flex;

}

.item {
    white-space:pre;
    font-family: monospace;
    font-size: 16px;
}

#selection {
    background-color: cyan;
    white-space:break-spaces;
}