.textBox {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;

}

.item {
    white-space:pre;
    font-family: monospace;
    font-size: 16px;
}

.commandTable {
    display: flex;
}

#selection {
    background-color: cyan;
    white-space:break-spaces;
}

.defname {
    color: yellow;
}

.defKeyWord {
    color: red;
}

.defarg {
    color: green;
}